imageio==2.14.1
matplotlib==3.5.1
moviepy==1.0.3
numpy==1.21.4
Pillow==9.1.1
plotoptix==0.14.2
PyQt5==5.15.6
python-dotenv==0.20.0
requests==2.26.0
scipy==1.7.3
sympy==1.9
tifffile==2021.11.2
tqdm==4.63.0
wandb==0.12.11
